{% set itemDescription = psi_describe(resource) %}

<div class="browser-item item {% if resource.path == browser.path %} current{% endif %}{{ resource.path == browser.path|slice(0, resource.path|length) ? ' active' : '' }}">

    <span class="grippy moving"></span>

    {% if itemDescription.has('std.image') %}
        <img class="ui inline image" src="{{ itemDescription.get('std.image').value | imagine_filter('inline') }}" />
    {% else %}
        <i class="{{ browser.path|slice(0, resource.path|length) == resource.path ? 'folder open' : 'folder closed' }} icon"></i>
    {% endif %}

    <a class="browser-item" 
       data-path="{{ resource.path }}"
       data-repository="{{ repositoryName }}"
       href="{{ path('trog_resource_browser_repository', { browser: browserName, path: resource.path, repository: repositoryName}) }}"
       title="{{ resource.name }}"
    >{{ resource.name  }}</a>

</div>

