{% extends 'form_div_layout.html.twig' %}

{% block form_row -%}
    <div class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="ui red pointing label sylius-validation-error">
            {{ error.message }}
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{% block checkbox_row -%}
    <div class="field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        <div class="ui toggle checkbox">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        <div class="ui radio checkbox">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock radio_row %}

{% block choice_row -%}
    <div class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {% set attr = attr|merge({'class': attr.class|default ~ ' ui dropdown'}) %}
        {{- form_widget(form, {'attr': attr}) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock choice_row %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="grouped fields">
            {%- for child in form %}
                <div class="field">
                    <div class="ui toggle checkbox">
                        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                        {{- form_widget(child) -}}
                    </div>
                </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded -%}

{% block percent_widget -%}
    <div class="ui right labeled input">
        {{- form_widget(form) -}}
        <div class="ui basic label">%</div>
    </div>
{%- endblock percent_widget %}

{% block collection_widget -%}
    {% from 'SyliusResourceBundle:Macros:notification.html.twig' import error %}
    {% set attr = attr|merge({'class': attr.class|default ~ ' controls collection-widget'}) %}

    {% spaceless %}
        <div data-form-type="collection" {{ block('widget_container_attributes') }}
            {% if prototype is defined and allow_add %}
                data-prototype='{{ _self.collection_item(prototype, allow_delete, button_delete_label, '__name__')|e }}'
            {%- endif -%}
        >
            {{ error(form.vars.errors) }}

            {% if prototypes|default is iterable %}
                {% for key, subPrototype in prototypes %}
                    <input type="hidden" data-form-prototype="{{ key }}" value="{{ _self.collection_item(subPrototype, allow_delete, button_delete_label, '__name__')|e }}" />
                {% endfor %}
            {% endif %}

            <div data-form-collection="list">
                {% for child in form %}
                    {{ _self.collection_item(child, allow_delete, button_delete_label, loop.index0) }}
                {% endfor %}
            </div>

            {% if prototype is defined and allow_add %}
                <a href="#" class="ui labeled icon button" data-form-collection="add">
                    <i class="plus square outline icon"></i>
                    {{ button_add_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock collection_widget %}

{% macro collection_item(form, allow_delete, button_delete_label, index) %}
    {% spaceless %}
        <div data-form-collection="item" data-form-collection-index="{{ index }}">
            {{ form_widget(form) }}
            {% if allow_delete %}
                <a href="#" data-form-collection="delete" class="ui red labeled icon button" style="margin-bottom: 1em;">
                    <i class="trash icon"></i>
                    {{ button_delete_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}

{% block markdown_widget %}
    <div data-trog-ct-ace-editor data-trog-ct-ace-editor-mode="ace/mode/markdown">
        {{ block('textarea_widget') }}
        <div class="trog-markdown-editor" id="{{ id }}-editor" style="height: {{ editor_height }}"></div>
    </div>
{% endblock %}

{% block publish_period_widget %}
<div class="ui grid">
    <div class="row">
        <div class="eight wide column">
            {{- form_row(form.start) -}}
        </div>
        <div class="eight wide column">
            {{- form_row(form.end) -}}
        </div>
    </div>
</div>
{% endblock %}

{% block image_widget %}
    <div class="ui grid">
        <div class="row">
            <div class="eight wide column">
                {% if value and value.name %}
                    <img class="ui inline big spaced image" src="{{ value | trog_media_path() | imagine_filter('preview') }}" />
                {% endif %}
            </div>
            <div class="eight wide column">
                {{ form_row(form.uploadedFile) }}

                {% if value and value.name %}
                    <table class="ui definition table">
                        <thead>
                            <tr>
                                <th>{{ 'property'|trans() }}</th>
                                <th>{{ 'value'|trans() }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ 'mime-type'|trans() }}</td>
                                <td>{{ value.content.mimeType }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'filename-original'|trans() }}</td>
                                <td>{{ value.originalFilename }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'filename-internal'|trans() }}</td>
                                <td>{{ value.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block resource_reference_widget %}
    <div
        id="{{ id }}"
        data-trog-ct-resource-selector 
        data-title="{{ 'browser'|trans() }}" 
        data-browser="{{ browser }}"
        data-input-repository="{{ form.repository.vars.id }}"
        data-input-path="{{ form.path.vars.id }}"
        data-preview-url="{{ path('trog_content_type_resource_reference_preview') }}"
    >

        <div class="preview">
            {% if value and value.repository %}
                {{ render(controller('trog_content_type.controller.resource_reference:formTypePreviewAction', {
                    'path': value.path,
                    'repository': value.repository
                })) }}
            {% endif %}
        </div>

        {{ form_row(form.path) }}
        {{ form_row(form.repository) }}

        <div class="ui two bottom attached buttons">
            <a 
                href="{{ path('trog_resource_browser', {browser: browser}) }}" 
                class="ui button">{{ 'select'|trans() }}</a>
        </div>

    </div>
{% endblock %}

{% block trog_media_file_widget %}
    <div class="ui grid">
        <div class="row">
            {% if value %}
            {% set description = psi_describe(value) %}

            <div class="eight wide column">
                {% if description.has('std.image') %}
                    <img class="ui inline big spaced image" src="{{ description.get('std.image').value | imagine_filter('preview') }}" />
                {% endif %}
            </div>
            {% endif %}
            <div class="eight wide column">
                {{ form_row(form.uploadedFile) }}

                {% if value and value.name %}
                    <table class="ui definition table">
                        <thead>
                            <tr>
                                <th>{{ 'property'|trans() }}</th>
                                <th>{{ 'value'|trans() }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ 'mime-type'|trans() }}</td>
                                <td>{{ value.content.mimeType }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'encoding'|trans() }}</td>
                                <td>{{ value.content.encoding }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'filename'|trans() }}</td>
                                <td>{{ value.originalName }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
